<!DOCTYPE html>
<html
		lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Home - Brand</title>
	<link rel="stylesheet" th:href="@{bootstrap.min.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
	<link rel="stylesheet" th:href="@{untitled.css}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
	<script th:src="@{theme.js}"></script>
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark portfolio-navbar">
	<div class="container"><a class="navbar-brand logo" href="#">Portfolio Builder</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse"
		     id="navbarNav">
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item" role="presentation"><a class="nav-link active" href="index.html" style="font-size: 18px;font-weight: normal;"><i class="fas fa-users" style="margin-right: 7px;"></i>Geeks</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link text-danger active" href="index.html" style="font-size: 18px;font-weight: normal;"><i class="fas fa-sign-out-alt" style="margin-right: 7px;"></i>Sign Out</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link text-light active" href="index.html" style="font-size: 18px;font-weight: normal;"><i class="fab fa-github" style="margin-right: 7px;"></i>Sign in / Build</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	Content goes here.
</div>
</body>

</html>