<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{layout :: head(title = 'Portfolio')}">
</head>

<body>

<nav th:replace="~{layout :: nav}"  style="z-index: 9999;"></nav>

    <main class="page lanidng-page">
        <section class="portfolio-block skills" style="padding-top: 60px;padding-bottom: 40px;">
            <div class="container">
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col d-flex d-xl-flex justify-content-center"><img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/18630847?s=460&amp;v=4" style="width: 250px;height: 250px;"></div>
                </div>
                <!-- Start: portfolio heading -->
                <div class="heading" style="margin-bottom: 20px;">
                    <h2 style="font-size: 40px;margin-bottom: 20px;">Ruslan temirkhanov</h2>
                    <div class="btn-group border-secondary shadow-sm" role="group"><a class="btn btn-dark text-light border rounded-0" role="button" target="_blank" style="font-size: 20px;"><i class="fab fa-github" style="margin-right: 7px;"></i>GitHub</a><a class="btn btn-light text-dark border rounded-0" role="button"
                            target="_blank" style="font-size: 20px;"><i class="fas fa-link" style="margin-right: 7px;"></i>Website</a></div>
                </div>
                <!-- End: portfolio heading -->
                <div class="row">
                    <div class="col-10 offset-1 d-flex justify-content-center">
                        <p class="text-center" style="font-size: 17px;">Completed Bachelors in Computer Science, Minor Mathematics at Queens College, NY. &nbsp;Currently learning/exploring Java Spring framework.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="container">
        <!-- Start: portfolio heading -->
        <div class="heading">
            <h2 class="text-center" style="margin-bottom: 35px;margin-top: 30px;">Repositories</h2>
        </div>
        <!-- End: portfolio heading -->
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="project-card-no-image" style="padding: 25px;">
                    <h3>socialgeeking</h3>
                    <h4>Social network for programmers using Java Spring Framework 5 &amp; Spring Boot 2. Spring MVC, Spring Security &amp; Thymeleaf, Spring Data JPA.<br></h4><a class="btn btn-outline-dark btn-sm border rounded-0" role="button" href="#"><i class="fab fa-github" style="margin-right: 5px;"></i>GitHub</a>
                    <div
                        class="tags"><span class="text-secondary" style="font-size: 14px;">JAVA</span></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-card-no-image">
                <h3>Lorem Ipsum</h3>
                <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                <div class="tags"><a href="#">JavaScript</a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-card-no-image">
                <h3>Lorem Ipsum</h3>
                <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                <div class="tags"><a href="#">CSS</a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-card-no-image">
                <h3>Lorem Ipsum</h3>
                <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                <div class="tags"><a href="#">Ruby</a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-card-no-image">
                <h3>Lorem Ipsum</h3>
                <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                <div class="tags"><a href="#">PHP</a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="project-card-no-image">
                <h3>Lorem Ipsum</h3>
                <h4>Lorem ipsum dolor sit amet</h4><a class="btn btn-outline-primary btn-sm" role="button" href="#">See More</a>
                <div class="tags"><a href="#">HTML</a></div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>